<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Admin panel</title>
</head>

<body>
    <div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-th-large"></i>
                        <!-- <img class="img2" src="cloudemslogo.png"/> -->
                        <div class="title">iCloudEMS</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-th-large"></i>
                        <div class="title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fas solid fa-graduation-cap"></i>
                        <div class="title">All courses</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-book"></i>
                        <div class="title">Subject Regitration</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <i class="fas fa-hand-holding-usd"></i> -->
                        <div class="title">Profile</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <div class="title">Settings</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-phone"></i>
                        <div class="title">Contact</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <i class="fas fa-shu"></i> -->
                        <div class="title">Logout</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">

                <div>
                    <!-- <input type="text" name="search" placeholder="search here">
                    <label for="search"><i class="fas fa-search"></i></label> -->

                    <a href="http://www.cutm.ac.in">
                        <img class="img2" src="photo/R.png"></a>

                </div>

                <img id="bell" src="photo/notificationhomepage.png" alt="">

                <div class="user">
                    <img src="photo/doctor1.png" alt="">
                </div>

            </div>

            <div class="card">
                <div class="image">
                    <img src="photo/m3.png" alt="">
                </div>
            </div>
            <h4 class="title12">Collage Info</h4>

            <div class="card1">
                <div class="image1">
                    <img src="photo/20.jpg" alt="">
                </div>
            </div>
            <h4 class="title123">Course Faculty</h4>

            <div class="card2">
                <div class="image2">
                    <img src="photo/334.jpg" alt="">
                </div>
            </div>
            <h4 class="title1234">Views</h4>


</body>

</html>