<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgate password</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="container123">
        <div class="card12">
            <div class="top-bar123">
                <h2 class="h222">Forgate Password</h2>
            
            <div class="card-in">
            <img src="photo/R.png" />
        </div>
                <form class="forgate-form" action="submit.html" method="post">
                    <input id="index1" type="email" placeholder="Enter Username" name="email1"><br><br>
                    <button class="btn12344" type="submit" name="btn12">SUBMIT</button>
                    <button class="btn12345" type="submit" name="btn12">BACK TO LOGIN</button>

                </form>
            </div>
        </div>
    
    </div>
</body>
</html>