<!DOCTYPE html>
<html>

<head>
    <title>

    </title>

    <link rel="stylesheet" href="style.css">
</head>

<body class="bodyy2">
    <img class="img" src="photo/R.png" />


    <form class="body3" action="/add" method="post">
        <table id="table3">

            <h2 class="h4">Update Subject: </h2>

            <h3 class="h5">Student details*:</h3>

            <tr>
                <td>Class Name: </td>
                <td><input id="box2" type="classname" name="classname" placeholder="Enter Class Name"></td>

                <td>Student Name: </td>
                <td><input id="box2" type=text name="stdname" placeholder="Enter student name"></td>

                <td>Reg No.: </td>
                <td><input id="box2" type="reg no." name="regno" placeholder="Enter Reg No."></td>
            </tr>

            <tr>
                <td>Academic Year: </td>
                <td><select id="box2" name="Academic year">
                        <option value="-1" selected>select..</option>
                        <option value="year">2023-2024</option>
                        <option value="year">2022-2023</option>
                        <option value="year">2021-2022</option>
                        <option value="year">2020-2021</option>
                    </select></td>

                <td>Semester: </td>
                <td><select id="box2" name="semester">
                        <option value="-1" selected>select..</option>
                        <option value="sem"> Sem 1</option>
                        <option value="sem"> Sem 2</option>
                        <option value="sem"> Sem 3</option>
                        <option value="sem"> Sem 4</option>
                        <option value="sem"> Sem 5</option>
                        <option value="sem"> Sem 6</option>
                        <option value="sem"> Sem 7</option>
                        <option value="sem"> Sem 8</option>
                    </select></td>
            </tr>

            <tr>
                <td>Program: </td>
                <td><select id="box2" name="program">
                        <option value="-1" selected>select..</option>
                        <option value="cse">B.Tech CSE</option>
                        <option value="civil">B.Tech Civil</option>
                        <option value="ece">B.Tech ECE</option>
                        <option value="eee">B.Tech EEE</option>
                        <option value="diploma">Diploma Civil</option>
                    </select></td>
            </tr>

            <tr>
                <td>
                    <h3>Subject details*:</h3>
                </td>
            </tr>
            <tr>
                <td>Subject Name: </td>
                <td><input id="box2" type=text name="subname" placeholder="Enter Sub Name"></td>

                <td>Course Credit: </td>
                <td><input id="box2" type="flot No." name="credit" placeholder="Enter credit No"></td>
            </tr>
            <tr>
                <td>Basket Name: </td>
                <td><select id="box" name="basket">
                        <option value="-1" selected>select..</option>
                        <option value="sem"> Basket-I</option>
                        <option value="sem"> Basket-II</option>
                        <option value="sem"> Basket-III</option>
                        <option value="sem"> Basket-IV</option>
                        <option value="sem"> Basket-V</option>
                    </select></td>

            </tr>

            <tr>
                <td><input id="botton" type="submit" value="Cencel" /></td>

                <td><input id="button" type="submit" value="Update" /></td>
            </tr>

        </table>
    </form>
</body>

</html>