<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="bodyy">

    <img class="img" src="photo/R.png" />

    <form class="body" action="subregister" method="post">

        <table id="table">

            <h2 class="h">Subject Registration Form: </h2>

            <h3 class="h2">Student details*:</h3>


            <tr>
                <td>Class Name: </td>
                <td><input id="box" type="classname" name="classname" placeholder="Enter Class Name"></td>

                <td>Student Name: </td>
                <td><input id="box" type=text name="stdname" placeholder="Enter student name"></td>

                <td>Reg No.: </td>
                <td><input id="box" type="reg no." name="regno" placeholder="Enter Reg No."></td>
            </tr> <br><br>

            <tr>
                <td>Academic Year: </td>
                <td><select id="box" name="Academic year">
                        <option value="-1" selected>select..</option>
                        <option value="year">2023-2024</option>
                        <option value="year">2022-2023</option>
                        <option value="year">2021-2022</option>
                        <option value="year">2020-2021</option>
                    </select></td>

                <td>Semester: </td>
                <td><select id="box" name="semester">
                        <option value="-1" selected>select..</option>
                        <option value="sem"> Sem 1</option>
                        <option value="sem"> Sem 2</option>
                        <option value="sem"> Sem 3</option>
                        <option value="sem"> Sem 4</option>
                        <option value="sem"> Sem 5</option>
                        <option value="sem"> Sem 6</option>
                        <option value="sem"> Sem 7</option>
                        <option value="sem"> Sem 8</option>
                    </select></td>
            </tr>

            <tr>
                <td>Program: </td>
                <td><select id="box" name="program">
                        <option value="-1" selected>select..</option>
                        <option value="cse">B.Tech CSE</option>
                        <option value="civil">B.Tech Civil</option>
                        <option value="ece">B.Tech ECE</option>
                        <option value="eee">B.Tech EEE</option>
                        <option value="diploma">Diploma Civil</option>
                    </select></td>
            </tr>

            <td>
                <h3>Subject details*:</h3>
            </td><br><br>
            <tr>
                <td>Subject Name: </td>
                <td><input id="box" type=text name="subname" placeholder="Enter Sub Name"></td>
                <td>Course Credit: </td>
                <td><input id="box" type="flot No." name="credit" placeholder="Enter credit No"></td>
            </tr>

            <td>Basket Name: </td>
            <td><select id="box" name="basket">
                    <option value="-1" selected>select..</option>
                    <option value="sem"> Basket-I</option>
                    <option value="sem"> Basket-II</option>
                    <option value="sem"> Basket-III</option>
                    <option value="sem"> Basket-IV</option>
                    <option value="sem"> Basket-V</option>
                </select></td>
            </tr>
            <tr>
                <td><input id="botton" type="submit" value="Cencle" /></td>

                <td><input id="button" type="submit" value="Register" /></td>
            </tr>

        </table>
    </form>
</body>

</html>